:root {
    --primary: #061525;
    --accent: #237FE2;
    --gray: #393C41;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8rem;
    color: white;
    background-color: var(--primary);
}

.page-header h1 {
    font-size: 3.25rem;
}

.car {
    margin-top: 5rem;
}

.car-info {
    padding-left: 8.75rem;
}

.car-name {
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.car-description {
    line-height: 1.6;
    max-width: 540px;
}

.car-stats {
    display: flex;
    column-gap: 5rem;
    row-gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.car-stats .car-stat {
    color: var(--primary);
    text-align: center;
}

.car-stats .car-stat h3 {
    font-size: 2rem;
    text-wrap: nowrap;
    word-spacing: -4px;
}

.car-stats .car-stat p {
    padding-top: 2px;
    min-width: 90px;
    max-width: 100px;
    font-size: 0.875rem;
    line-height: 1.1;
}

.car-stats .car-stat.warranty p {
    min-width: 120px;
}

.car-stats .car-stat .unit {
    font-size: 1.75rem;
    margin-left: 0;
}

.car button {
    padding: 0.75rem 1.75rem;
    border: none;
    border-radius: 4px;
    background-color: #061525;
    color: white;
}

.car {
    display: flex;
    justify-content: space-between;
    max-width: 1875px;
    margin-inline: auto;
    gap: 7rem;
}

.car picture {
    max-width: 100%;
    overflow: hidden;
}

.car img {
    object-fit: cover;
}

.car.left .car-info {
    padding-left: 0;
    padding-right: 8.75rem;
}

.car.left.model-s .image-left {
    background-image: url(../assets/models.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 375px;
}

.car.left.model-y .image-left {
    background-image: url(../assets/modely.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 375px;
}

.car.left.model-s {
    gap: 5rem;
}

@media screen and (max-width: 1300px) {
    .car-info {
        padding-left: 3.25rem;
    }

    .car.left .car-info {
        padding-right: 3.25rem;
    }
}

@media screen and (max-width: 1100px) {
    .car {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .car.left.model-s {
        flex-direction: column;
        gap: 2rem;
    }

    .car.left.model-y {
        flex-direction: column;
        gap: 2rem;
    }

    .car.left.model-s .image-left {
        background-position: 50% 100%;
        background-size: contain;
        border-style: solid;
        border-width: 0rem 5rem 0rem 3rem;
        border-color: transparent;
        height: 250px;
    }

    .car.left.model-y .image-left {
        background-position: 50% 100%;
        background-size: contain;
        border-style: solid;
        border-width: 0rem 5rem 0rem 3rem;
        border-color: transparent;
        height: 250px;
    }

    .car picture {
        padding-inline: 5rem;
    }

    .car img {
        width: 100%;
    }

    .car-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-inline: 2rem;
    }

    .car.left.model-s .car-info {
        padding-right: 0;
        padding-inline: 2rem;
    }

    .car.left.model-y .car-info {
        padding-right: 0;
        padding-inline: 2rem;
    }

    .car-stats {
        padding-inline: 4rem;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .car.left.model-s .image-left {
        height: 200px;
    }

    .car.left.model-y .image-left {
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    .car picture {
        padding-inline: 2rem;
    }

    .car.left.model-s .image-left {
        border-width: 0rem 2rem 0rem 0rem;
    }

    .car.left.model-y .image-left {
        border-width: 0rem 2rem 0rem 0rem;
    }

    .page-header h1 {
        font-size: 2.75rem;
    }
}

@media screen and (max-width: 500px) {
    .car.left.model-s .image-left {
        height: 150px;
    }

    .car.left.model-y .image-left {
        height: 150px;
    }
}

@media screen and (max-width: 400px) {
    .car.left.model-s .image-left {
        height: 120px;
    }

    .car.left.model-y .image-left {
        height: 120px;
    }
}